body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#finalScore {
    font-size: 100px;
    margin-bottom: 5px; /* Mantenha ou ajuste o espaçamento conforme necessário */
    height: 60px; /* Define uma altura fixa para o elemento */
    display: flex; /* Utiliza flexbox para alinhar o conteúdo */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
}


.scores-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap; /* Impede que os itens sejam quebrados em linhas */
    gap: 10px; /* Mantenha um espaçamento entre os inputs */
    overflow-x: auto; /* Adiciona rolagem horizontal se necessário */
    margin-bottom: 10px;
}

input {
    padding: 10px;
    width: 250px; /* Largura fixa para os inputs */
    height: 400px; /* Altura aumentada */
    font-size: 100px; /* Aumento do tamanho da fonte para melhor visualização */
    text-align: center;
}

button {
    width: auto; /* Permite que os botões se ajustem ao texto */
    margin-top: 20px;
    height: auto;
    font-size: 20px; /* Ajuste opcional para o tamanho de fonte dos botões */
    padding: 10px 20px; /* Padding ajustado para melhorar a visualização e o clique */
    margin-top: 10px; /* Ajuste conforme necessário para distância dos inputs */
    /* Outros estilos para os botões conforme necessário */
}

#result {
    margin-top: 20px;
    font-size: 36px; /* Tamanho de fonte aumentado para o resultado, similar aos inputs */
}

.descartada {
    color: red; /* Muda a cor do texto para vermelho */
    position: relative; /* Necessário para o pseudo-elemento */
}

#logo {
    position: fixed; /* Fixa a imagem na posição, fazendo com que ela não se mova ao rolar a página */
    top: 0; /* Alinha a parte superior da imagem com a parte superior da viewport */
    left: 0; /* Alinha a parte esquerda da imagem com a parte esquerda da viewport */
    width: 200px; /* Ajuste conforme necessário para definir a largura da imagem */
    height: auto; /* Mantém a proporção da imagem ao definir a largura */
    z-index: 1000; /* Garante que a imagem fique acima de outros elementos da página */
}
